@media print
{    
  .no-print, .no-print *
  {
      display: none !important;
  }
  @page { margin: 0; }
  body { margin: 1.6cm; }
  
  /*
  td, #gimnasio, #numeroletras, #importe, #numero, #recibo, #fecha, #hora {
    font-size: 140% !important;
  }
   */
}