<div class="row">
    <h1>Recibo</h1>
    <nav class= "navbar navbar-default" role= "navigation" >
        <div class= "navbar-header" > &nbsp;&nbsp;
            <a class="btn btn-default navbar-btn"  role="button" href="#/"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;Deuda anual</a>
            <a class="btn btn-default navbar-btn" id="btnPrint"  role="button" href="#/"><span class="glyphicon glyphicon-print"></span>&nbsp;Imprimir</a>
        </div>
    </nav>

    <div class="grid" ui-grid-edit ui-grid-cellnav ui-grid="gridOptions">
    </div>

</div>
