 <div class="row">
    <h1>Recibo</h1>
    <nav class= "navbar navbar-default" role= "navigation" >
        <div class= "navbar-header" > &nbsp;&nbsp;
            <a class="btn btn-default navbar-btn"  role="button" href="#/"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;Deuda anual</a>
            <a class="btn btn-default navbar-btn" id="btnPrint"  role="button" href="#/"><span class="glyphicon glyphicon-print"></span>&nbsp;Imprimir</a>
        </div>
    </nav>

    <div id="mainTable" class="table-responsive">
        <table my-enter="po()" class="table table-striped table-bordered table-condensed">
        <thead>
        <th class="no-print">sel&nbsp;</th>
        <th>detalle&nbsp;</th>
        <th>arancel&nbsp;</th>
        <th>rec.&nbsp;</th>
        <th>desc.&nbsp;</th>
        <th>importe&nbsp;</th>
        <!-- <th class="no-print">selected&nbsp;</th> -->
        </thead>
        <tbody>
            <tr ng-repeat="data in servicios" id="fila-{{$index}}" class="no-print">
                <td class="edit-disabled no-print"><input type="checkbox" name="po" ng-model="data.selected" ng-click="sumar(data.importe, data.descuento, $event, $index)" ng-true-value="true" ng-false-value="false"></td>
                <!-- <td class="edit-disabled" style="cursor: not-allowed;">{{$index + 1}}</td> -->
                <td class="edit-disabled">{{data.nombrealumno}} - {{data.descrip}}</td>
                <!-- <td ng-click="edit(data.recargo)" ng-model="data.recargo">{{data.recargo}}</td>
                <td ng-click="edit(data.descuento)" ng-model="data.descuento">{{data.descuento}}</td> -->
                <td>{{data.preciounit}}</td>
                <td>{{data.recargo}}</td>
                <td ng-model="data.descuento">{{data.descuento}}</td>
                <td class="edit-disabled">{{data.importe}}</td>
                <!-- <td class="edit-disabled no-print">{{data.selected}}</td> -->
                
            </tr>
        </tbody>
        </table>
        <div class="well pull-right">Total: ${{total}}</div>
        <div ng-bind="servicios[1].descuento"></div>

    </div>
</div>
<script type="text/javascript">
    // $(document).ready(function(){
        $('#mainTable').editableTableWidget().numericInputExample().find('td:first').focus();
        // $('#mainTable').editableTableWidget({disableClass: "edit-disabled"});
        $('#textAreaEditor').editableTableWidget({editor: $('<textarea>')});
        //window.prettyPrint && prettyPrint();

        // $('td[readonly]').click(function(e) {
        //     e.preventDefault();
        //     e.stopPropagation();
        // });
    // })
    $('table td').on('validate', function(evt, newValue) {
        var columna = evt.target.cellIndex;
        if (columna==0 || columna==1 || columna==2 || columna==5){
            return false;
        }
        // console.log(newValue)

        // if (!$.isNumeric(newValue)){
        //     return false;
        // }
        // if (....) { 
        //     return false; // mark cell as invalid 
        // }
    });

    $('table td').on('change', function(e, newValue) {
        // var x = document.getElementsByTagName("tr");
        //  console.log(x[e.target.cellIndex].innerText)

         popo=newValue;        
        


    //     // firstChild.ChildNode
        
    //     // do something with the new cell value
    //     // if (....) {
    //     //     return false; // reject change
    //     // }
    });

</script>